<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />  
    <link rel="stylesheet" type="text/css" href="/css/partials.css" />  

    <title>Travel Bug Homepage</title>
</head>
<body id="index-body">

    <div id="header-box">
        <h1>Travel Bug</h1>
        
        <nav>
            <a href="/">Home</a>
            <a href="/profiles">Profiles</a>
        </nav>
        </div>
    
</body>
</html>

