<html lang="en">
   
<html lang="en">
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />  
    <link rel="stylesheet" type="text/css" href="/css/partials.css" />  
    <link rel="stylesheet" type="text/css" href="/css/editAndDelete.css" />  

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <title>Edit Delete</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">

</script>
</head>

    <body>
    
        <div class="delete-content">
            <form id="delete-form" action="/profiles/<%= locals.theId %>?_method=DELETE" method="POST">
                <label>Confirm you wish to DELETE your profile: 
                </label>
                <input type="text" id="<%= locals.theId %>" name="profile" value="<%= locals.username %>" readonly>
                <button>DELETE</button>
            </form>
        </div>
    </body>

</html>